* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;

    background-image: url("../SRC/IMG/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    overflow-x: hidden;
}

header {
    height: 9.375rem;
    background-color: white;
    width: 100%;

    display: flex;
    align-items: center;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header img {
    height: 9.375rem;
}

header h1 {
    font-size: 6rem;
    font-weight: 100;

    color: #244BC5;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 0rem 5.5rem;
}

main #filtros {
    display: flex;
    width: 100%;
    gap: 2rem;

    margin-top: 6.5rem;
    margin-bottom: 3rem;
}

main #filtros .filtro {
    height: 4rem;
    width: 18.75rem;

    color: #2148C0;
    font-size: 1.5rem;

    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

    background-color: white;
}

main #filtros .filtro:hover {
    cursor: pointer;
}

main table {
    width: 100%;
    margin-bottom: 9.75rem;
}

main table thead {
    background-color: #AFC0F3;
    height: 6.25rem;
}

main table thead tr td {
    border: 8px solid white;
    font-size: 2.25rem;
    padding-left: 2.6875rem;
}

main table tbody tr {
    height: 6.25rem;
}

main table tbody tr td {
    border: 8px solid white;
    font-size: 2.25rem;
    padding-left: 2.6875rem;
    color: white;
}

main table tbody tr #botoes img {
    height: 3.375rem;
}

main table tbody tr #botoes .editar {
    margin-right: 3.8125rem;
}


